table {
	border: 2px solid red;
}

td:hover {
	background-color: orange;
	color: crimson;
}

tr, th {
	background-color: darkgreen;
	color: white;
}

tr, td {
	background-color: cornsilk;
	color: crimson;
}