html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
}

h1 {
    text-align: center;
}

span {
    text-align: center;
    font-size: 18pt;
    color: red;
}

#contact {
    width: 60%;
    margin: auto;
    border: 3px solid;
    border-color: red;
    border-radius: 8px;
    background-color: rosybrown;
}

#contact h1, h2, p {
    text-align: center;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 8px;
    margin: 0px auto;
    background-color: rgba(100, 65, 0, .3);
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.5);
}